@page "/"

<style>
	
	.para{
		font-family: Helvetica, sans-serif
	}
	
	.big-heading{
	clamp(40px, 8vw, 80px);
	font-family: Helvetica,sans-serif;
	}
	
	.body{
	font-family: Helvetica,sans-serif;
	width: 100%; 
	padding-top: 10%; 
	text-align: left;
	}
	
	
</style>


<header class="body" style="">
	<p class="para">Hi there, my name is</p>
	<h1 class="big-heading">Ian Hall.</h1>
	<h1 class="big-heading">I code things that I find interesting.</h1>
	<p class="para" style="max-width: 540px">
		I'm a student learning software engineering skills to expand my skillset and develop my coding abilities. 
		I also occasionally tinker with databases and the like.
	</p>
	
	
	
	
</header>