@if (isLoaded)
{
	@ChildContent
}
else
{
	<H1>Loading</H1>
}

@code {
	bool isLoaded;

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(2500);
		isLoaded = true;
	}
}